<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="https://github.com/marcklima">Meu GitHub</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://getbootstrap.com/docs/5.0/getting-started/introduction/">Bootstrap
                        Docs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="https://vercel.com/dashboard" tabindex="-1" aria-disabled="true">Vercel
                        DashBoard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="https://www.linkedin.com/in/marcelolimadonascimento/" tabindex="-1"
                        aria-disabled="true">Linkedin</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>