<%- include('partial/savequest.ejs') %>
<body>
    <%- include('partial/navbar.ejs') %>
    <form>
        <h3>Responda</h3>
        <textarea placeholder="Digite Sua Resposta" class="form-control" name="corpo"></textarea>
        <button type="submit" class="btn btn-sucess">Responder </button>
    </form>
</body> 
<%- include('partial/footer.ejs') %>